:root {
  --background-color: black;
  --text-color: #DDD;
  --intense-text-color: white;
  --faint-text-color: #AAA;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Thin"), url("../fonts/Raleway-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway ExtraLight"), url("../fonts/Raleway-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Light"), url("../fonts/Raleway-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url("../fonts/Raleway-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: local("Cormorant Garamond Light"), url("../fonts/CormorantGaramond-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: local("Cormorant Garamond"), url("../fonts/CormorantGaramond-Regular.ttf");
  font-weight: 400;
}
* {
  transition: background-color 300ms ease-out, color 300ms ease-out;
}
html,
body {
  border: none;
  margin: 0;
}
html {
  background: var(--background-color);
}
html.white-theme {
  --background-color: white;
  --text-color: #2A2A2A;
  --intense-text-color: #0A0A0A;
  --faint-text-color: #888;
}
body {
  overflow: hidden;
  position: relative;
}
h1,
h2,
p,
a {
  font-family: 'Raleway', 'Comic Sans MS', serif;
  color: var(--text-color);
  font-weight: 200;
  text-align: center;
}
p {
  font-size: 2rem;
}
img {
  max-width: 100%;
}
.flexrow {
  display: flex;
  flex-flow: row;
}
.flexcol {
  display: flex;
  flex-flow: column;
}
.flexcenter {
  justify-content: center;
  align-items: center;
}
#world-pop {
  padding-top: 5rem;
}
#world-pop h2,
#world-pop p {
  margin: 0;
  text-shadow: 0 0 1px var(--text-color);
}
#world-pop h2 {
  font-size: 3rem;
  font-weight: 100;
  color: var(--text-color);
}
#world-pop p {
  font-size: 6rem;
  font-family: 'Raleway', 'Comic Sans MS', serif;
  font-weight: 200;
  color: var(--faint-text-color);
}
#world-pop p span {
  color: var(--intense-text-color);
}
#capture {
  margin-top: 4rem;
  position: relative;
}
#capture #eeg-canvas {
  position: absolute;
  top: -145px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}
#capture p#now {
  font-weight: 200;
  margin-bottom: 0;
  opacity: 1;
  transition: opacity 2s;
  padding-left: 0.4em;
}
#capture p#now.hidden {
  opacity: 0;
}
#capture p#processing {
  font-size: 10rem;
  font-family: 'Cormorant Garamond', 'Comic Sans MS', serif;
  text-shadow: 0 0 1px var(--text-color);
  margin-top: 0em;
  margin-bottom: 0.2em;
}
#capture #raw-speech {
  display: none;
}
#next {
  position: relative;
}
#next p {
  font-size: 30px;
  margin: 0 auto;
}
#next p#slider-number {
  font-size: 100px;
  transition: opacity 1s;
}
#next p#slider-number.hidden {
  opacity: 0;
}
#click-to-start {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
#click-to-start.hidden {
  display: none;
}
#click-to-start h1 {
  font-size: 8rem;
  margin: 7rem auto 0;
  text-shadow: 0 0 12px var(--text-color);
}
#click-to-start h2 {
  font-size: 2rem;
  margin-top: 0em;
  text-shadow: 0 0 6px var(--text-color);
}
#click-to-start p#click {
  margin: 1rem auto 4rem;
  font-size: 4rem;
  animation: glow 1s infinite alternate ease-out;
  text-shadow: 0 0 4px var(--text-color);
  text-transform: uppercase;
}
#click-to-start #theme-switch {
  opacity: 0.75;
  margin-bottom: -1rem;
}
#click-to-start #theme-switch .arrow {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: solid 1px var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 3px;
}
#click-to-start #theme-switch .arrow p {
  margin: 0;
  font-size: 12px;
}
#click-to-start #theme-switch p {
  font-size: 0.8rem;
  margin: 0.5em 0.8em;
}
#click-to-start #chrome img,
#click-to-start #muse-2 img {
  width: 30px;
  border-radius: 50%;
}
#click-to-start #chrome p,
#click-to-start #muse-2 p {
  font-size: 0.8rem;
  margin-left: 10px;
}
#click-to-start #muse-2 {
  margin-top: 3rem;
  margin-bottom: -1rem;
}
#click-to-start #muse-2 img {
  border: solid 1px #DDD;
}
#click-to-start #chrome {
  margin-top: 0px;
}
#click-to-start #chrome img {
  width: 60px;
}
#click-to-start #chrome p {
  margin-left: -10px;
}
html.white-theme #click-to-start h1 {
  text-shadow: 0 0 2px var(--text-color);
}
html.white-theme #click-to-start h2 {
  text-shadow: 0 0 2px var(--text-color);
}
html.white-theme #click-to-start p {
  text-shadow: 0 0 2px var(--text-color);
}
@keyframes glow {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
