:root {
  --background-color: black;
  --text-color: #DDD;
  --intense-text-color: white;
  --faint-text-color: #AAA;
}
html,
body {
  border: none;
  margin: 0;
  background: var(--background-color);
}
html.white-theme {
  --background-color: #EAEAEA;
  --text-color: #2A2A2A;
  --intense-text-color: #0A0A0A;
  --faint-text-color: #888;
}
h1,
h2,
p,
a {
  font-family: 'Raleway', 'Comic Sans MS', serif;
  color: var(--text-color);
  text-align: center;
}
p {
  font-size: 2rem;
}
img {
  max-width: 100%;
}
.flexrow {
  display: flex;
  flex-flow: row;
}
.flexcol {
  display: flex;
  flex-flow: column;
}
.flexcenter {
  align-items: center;
}
#world-pop {
  padding-top: 5rem;
}
#world-pop h2,
#world-pop p {
  margin: 0;
}
#world-pop h2 {
  font-size: 3rem;
  font-weight: 100;
  color: var(--text-color);
}
#world-pop p {
  font-size: 6rem;
  font-family: 'Raleway', 'Comic Sans MS', serif;
  font-weight: 300;
  color: var(--faint-text-color);
}
#world-pop p span {
  color: var(--intense-text-color);
  /*font-family: 'Cormorant Garamond', 'Comic Sans MS', serif;
            font-size: 8rem;*/
}
#capture {
  margin-top: 4rem;
}
#capture p#now {
  font-weight: 200;
  margin-bottom: 0;
}
#capture p#processing {
  font-size: 10rem;
  font-family: 'Cormorant Garamond', 'Comic Sans MS', serif;
  margin-top: 0em;
  margin-bottom: 0.2em;
}
#capture #raw-speech {
  display: none;
}
#next {
  position: relative;
}
#next p {
  font-size: 30px;
  margin: 0 auto;
}
#next p#slider-number {
  font-size: 100px;
  transition: opacity 1s;
}
#next p#slider-number.hidden {
  opacity: 0;
}
