html,
body {
  border: none;
  margin: 0;
  background: black;
}
h1,
h2,
p,
a {
  font-family: Raleway, Comic Sans MS, serif;
  color: white;
}
p {
  font-size: 2rem;
}
img {
  max-width: 100%;
}
.flexrow {
  display: flex;
  flex-flow: row;
}
.flexcol {
  display: flex;
  flex-flow: column;
}
.flexcenter {
  align-items: center;
}
#world-pop {
  margin-top: 5rem;
}
#world-pop h2,
#world-pop p {
  text-align: center;
  margin: 0;
}
#world-pop h2 {
  font-size: 3rem;
  font-weight: 100;
}
#world-pop p {
  font-size: 7rem;
  font-family: 'Cormorant Garamond', Comic Sans MS, serif;
  font-weight: 300;
}
