// out: "../css/main.css"

:root {
    --background-color: black;
    --text-color: #DDD;
    --intense-text-color: white;
    --faint-text-color: #AAA;
}
* {
    transition: background-color 300ms ease-out, color 300ms ease-out;
}
html, body {
	border: none;
	margin: 0;
}
html {
    background: var(--background-color)
}
html.white-theme {
    --background-color: white;//#EAEAEA;
    --text-color: #2A2A2A;
    --intense-text-color: #0A0A0A;
    --faint-text-color: #888;
}
body {
    overflow: hidden;
    position: relative;
}
h1, h2, p, a {
	font-family: 'Raleway', 'Comic Sans MS', serif;
	color: var(--text-color);
    font-weight: 200;
    text-align: center;
}
p {
	font-size: 2rem;
}
img {
	max-width: 100%;
}
.flexrow {
	display: flex;
	flex-flow: row;
}
.flexcol {
	display: flex;
	flex-flow: column;
}
.flexcenter {
    justify-content: center;
	align-items: center;
}

#world-pop {
    padding-top: 5rem;

    h2, p {
        margin: 0;
        text-shadow: 0 0 1px var(--text-color);
    }
    h2 {
        font-size: 3rem;
        font-weight: 100;
        color: var(--text-color)
    }
    p {
        font-size: 6rem;
        font-family: 'Raleway', 'Comic Sans MS', serif;
        font-weight: 200;
        color: var(--faint-text-color);

        span {
            color: var(--intense-text-color);
            /*font-family: 'Cormorant Garamond', 'Comic Sans MS', serif;
            font-size: 8rem;*/
        }
    }
}
#capture {
    margin-top: 4rem;
    position: relative;

    #eeg-canvas {
        position: absolute;
        top: -145px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
    }

    p#now {
        font-weight: 200;
        margin-bottom: 0;
        opacity: 1;
        transition: opacity 2s;
        padding-left: .4em;

        &.hidden {
            opacity: 0;
        }
    }
    p#processing {
        font-size: 10rem;
        font-family: 'Cormorant Garamond', 'Comic Sans MS', serif;
        text-shadow: 0 0 1px var(--text-color);
        margin-top: 0em;
        margin-bottom: .2em;
    }
    #raw-speech {
        display: none;
    }
}
#next {
    position: relative;

    p {
        font-size: 30px;
        margin: 0 auto;
    }
    p#slider-number {
        font-size: 100px;
        transition: opacity 1s;

        &.hidden {
            opacity: 0;
        }
    }
}
#click-to-start {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-flow: column;
    justify-content: center;

    &.hidden {
        display: none;
    }

    h1 {
        font-size: 8rem;
        margin: 8rem auto 0;
        text-shadow: 0 0 12px var(--text-color);
    }
    h2 {
        font-size: 2rem;
        margin-top: 0em;
        text-shadow: 0 0 6px var(--text-color);
    }
    p#click {
        margin: 1rem auto 4rem;
        font-size: 4rem;
        animation: glow 1s infinite alternate ease-out;
        text-shadow: 0 0 4px var(--text-color);
        text-transform: uppercase;
    }

    #theme-switch {
        opacity: .75;
        margin-bottom: -1rem;

        .arrow {
            width: 25px;
            height: 25px;
            border-radius: 4px;
            border: solid 1px var(--text-color);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 4px 3px;

            p {
                margin: 0;
                font-size: 12px;
            }
        }
        p {
            font-size: .8rem;
            margin: .5em .8em;
        }
    }
    #chrome,
    #muse-2 {
        img {
            width: 30px;
            border-radius: 50%;
        }
        p {
            font-size: .8rem;
            margin-left: 10px;
        }
    }
    #muse-2 {
        margin-top: 1rem;
        margin-bottom: -.5rem;

        img {
            border: solid 1px #DDD;
        }
    }
    #chrome {
        margin-top: 0px;

        img {
            width: 60px;
        }
        p {
            margin-left: -10px;
        }
    }
}
html.white-theme {
    #click-to-start {
        h1 {
            text-shadow: 0 0 2px var(--text-color);
        }
        h2 {
            text-shadow: 0 0 2px var(--text-color);
        }
        p {
            text-shadow: 0 0 2px var(--text-color);
        }
    }
}
@keyframes glow {
    from {
        opacity: .3;
    }
    to {
        opacity: 1;
    }
}