* {
	
}
html, body {
	border: none;
	margin: 0;
	background: black;
}
h1, h2, p, a {
	font-family: 'Raleway', 'Comic Sans MS', serif;
	color: white;
    text-align: center;
}
p {
	font-size: 2rem;
}
img {
	max-width: 100%;
}
.flexrow {
	display: flex;
	flex-flow: row;
}
.flexcol {
	display: flex;
	flex-flow: column;
}
.flexcenter {
	align-items: center;
}

#world-pop {
    margin-top: 5rem;

    h2, p {
        margin: 0;
    }
    h2 {
        font-size: 3rem;
        font-weight: 100;
    }
    p {
        font-size: 6rem;
        font-family: 'Raleway', 'Comic Sans MS', serif;
        font-weight: 300;
    }
}
#capture {
    margin-top: 4rem;

    p#modulo {
        font-size: 1.8rem;
        font-weight: 100;

        span {
            font-size: 3rem;
            font-weight: 200;
        }
    }
    input {
        width: 70%;
    }
    p#result {
        font-size: 10rem;
        font-family: 'Cormorant Garamond', 'Comic Sans MS', serif;
        margin-top: 0em;
    }
}